@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
/* # sourceMappingURL=nullstyle.css.map */

body {
  background-color: rgb(36, 36, 36);
  font-family: "Roboto", sans-serif;
  color: azure;
  font-size: 18px;
  max-width: 400px;
  margin: 0 auto;
}

.container {
  width: 100%;
  /* width: 400px; */
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin-top: 20px;
  background-color: rgb(30, 30, 30);
  border-radius: 20px;
}

.title {
  font-size: 36px;
  text-align: center;
  margin-bottom: 18px;
  color: rgb(86, 93, 207);
  
}

.subtitle {
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 25px;
}

.form {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.input_name {
  width: 200px;
  height: 40px;
  border-radius: 20px;
  padding-left: 10px;
  font-size: 14px;
}

.input_name:hover {
border: 1px solid rgb(86, 93, 207);;
box-shadow: inset 0px 0px 0px 1px rgb(86, 93, 207);;
}

button {
  width: 120px;
  height: 40px;
  font-size: 14px;
  background-color: rgb(86, 93, 207);
  text-transform: uppercase;
  border-radius: 20px;
  color: azure;
}

button:hover {
  background-color: rgb(61, 65, 151);
  transition: all 0.5s ease 0s;
  color: rgb(197, 210, 210);
}

button:active {
  background-color: rgb(47, 51, 117);
  transition: all 0.5s ease 0s;
  color: rgb(174, 184, 184);
}

.result {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  /* justify-content: center; */
}

.text_result {
  font-size: 32px;
  margin-bottom: 20px;
  text-align: center;
  line-height: 1.1;

}

.text_result span:first-child {
  color: rgb(191, 86, 207);
  
}

.text_result span:last-child {
  color: rgb(86, 93, 207);
}
